nav ul  {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 40px;
}

 .linkMenu {
    color:#fff;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    font-weight: 100;
    font-family: 'Lato';
}

.linkMenu:hover {
    text-decoration: overline #F7B0FF;
    color:#fff;
    padding: 8px;

}

