.pokemonItem {
    text-align: center;
    width: calc(20% - 5px);
}

 .pokemonItem  {
    text-decoration: none;
    color: #F7B0FF;
    font-weight: bold;
    background-color: #000;
    font-size: 2em;
}

