.botao {
    background-color: #f7b0ff;
    border-radius: 10px;
    font-size: 18px;
    padding: 12px;
    border: none; 
    cursor: pointer;
    color: #141414;
    margin: 12px 0;
  }
  
  .botao:hover {
    background-color: #535563;
  }