.intro{
  background-color: #141414;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  padding: 100px 0;

}

h1 {
  color: #F7B0FF;
  font-size: 96px;
  font-family: 'Roboto Mono';
  font-weight: 400;
}

.pins p {
  color: #E0E0E0;
  font-weight: 200;
}

.detalhe1{
  width: 100vw;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

#sobreMim{
display: flex;
flex-direction: column;
height: 100vh;
background-color: #F0F0F0;
}

.titulo{
  margin: 60px 60px;
  width: 50vw;
}

.perfil{
  display: flex;
  justify-content: center;
  margin: 60px auto;
  width: 50vw;
}

.perfil p {
  margin:  auto;
  width: 500px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(247,176, 255, 0.3);
}
h2{
  font-size: 2em;
  color: #F7B0FF;
}

.perfil img{
  width: 300px;
}

#descricaoCurso{
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: #141414;
}

.pin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: #F7B0FF ;
}

#pinsCont{
  background-color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.divLink{
  background-color: #F7B0FF;
  width: 8vw;
  margin: 60px auto;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
}

.divLink a{
 text-align: center;
 color: #141414;
 font-size: large;
 text-decoration: none;
}

.divLink:hover{
  background-color: rgba(247,176, 255, 0.3);
 }
 

