.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: calc(100vh - 426px);
    margin-top: 60px;
   
}

.link  {
    display: flex;

    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    height: calc(100vh - 500px);
    margin: 50px;
}


  
.link:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
  }