.divLink{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: calc(100vh - 426px)
}

main .link  {
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    height: calc(100vh - 500px);
    margin: 10px;
}