footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #000;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
}

footer img {
    width: 72px
}

