.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h1 {
    margin: 0;
}

.form input {
    height: 40px;
    border-radius: 4px;
    padding: 4px;
}

.formCep {
    display: flex;
    flex-direction: column;
}

.formCep label, input {
    margin: 10px;
}